.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(90% - 20px);
    max-height: 68px;
    margin: 20px auto 0 auto;
    

    .nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        
        li{
            font-size: 1.3rem;
            text-transform: uppercase;
            list-style-type: none;
            color:#FF6060;
            &:last-child{
                margin-left: 30px;
                width: auto;
            }
            &:hover{
                text-decoration: underline;
            }
        }

    }
    .logo{
        max-width: 43%;
    }
}

@media (min-width: 376px){
    .wrapper{
        .nav{
            li{
                font-size: 1.4rem;
            }
        }
    }
}

@media (min-width: 426px){
    .wrapper{
        .nav{
       
            li{
                font-size: 1.8rem;
            }
        }
    }
}

@media (min-width: 769px){
    .wrapper{
        .nav{
            width: 35%;
            li{
                font-size: 2.4rem;
            }
        }
    }
}

@media (min-width: 1025px){
    .wrapper{
        .nav{
            width: 35%;
            li{
                font-size: 2.4rem;
            }
        }
    }
}
