$thumb-height: 340px;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.thumbsContainer{
    width: 89.33%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px 10px ;
    background: rgb(224, 221, 221);
    margin: 50px auto 0 auto;
    padding: 56px 50px;

    &__thumb{
        width: 30%;
        height: $thumb-height;
        margin-bottom: 30px;
        position: relative;
        object-fit: contain;
      

        &__cover{
            width: 100%;
            overflow: hidden;

            img{
                position: relative;
                border-radius: 10px;
                width: 100%;
                height: $thumb-height;
                object-fit: cover;
            }
            &::after{
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                height: 50%; /* Hauteur de l'ombre */
                background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.849));
                pointer-events: none;
            }
        }

        &__title{
            position: absolute;
            display: flex;
            justify-content: flex-start;     
            width: 40%;       
            color: rgb(255, 255, 255);
            top: 268px;
            left: 20px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 1.8rem;
            line-height: 2.6rem;
        }
    }
}